<div id="aside">
    <div class="profile-image">
        <img class="img-circle" src="http://tp1.sinaimg.cn/2972287924/180/40002983278/1" alt="profile image" />
    </div>
    <div class="icons">新建话题</div>
    <div class="icons">我发起的</div>
    <div class="icons">我参与的</div>
    <div class="icons">热门</div>
    <div class="icons">设置</div>
</div>
<div id="content-wrapper">
    <div class="topic-container">
        <ul class="list-unstyled topics">
        </ul>
    </div>
    <div class="topic-detail">
    </div>
</div>
